* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}